<br/> <br/>
    <footer>
            <span class="footer-content">
                <p> Developed By group No 11
                As a submission towards capstone project</p>
                &copy; <a href="https://www.mygreatlearning.com/" target="_blank">Great Learning</a> 
            </span>
           <!--<div class="footer-bottom">
                <p>copyright &copy; <a href="https://www.mygreatlearning.com/" target="_blank">Great Learning</a>  </p>
                        <div class="footer-menu">
                          <ul class="f-menu">
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Contact</a></li>
                          </ul>
                        </div>
            </div>-->
    
      <!--<p><br>
      <a href="mailto:hege@example.com">hege@example.com</a></p>>-->
    </footer>
    