
<div class="doconnect-body">
  <div class="container">
    <br/>
    
    
      <hr />
      <div class="col-md-9">
        <h1 style="text-align: center">A QnA website to answer all your queries</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO7WhgPNZ8ieiMnkXS_XFtykE7di7d04jnNo5LyctdMx0OT0bigtyFcvimZPl9xbYLaGQ&usqp=CAU" alt="doconnect" class="center">
        <br/>
        <br/>
        <!--<app-post-tile [posts]="posts"></app-post-tile>-->
      </div>
      <div class="col-md-3">
       
      </div>
    <!--</div>-->
 </div>
</div>